*{
  margin: 0;
  padding: 0;
}

body {
    background-image:url(gunfighter.jpg);
    background-size: cover;
}
.gameboy {
  display: grid;
  height: 34rem;
  width: 30rem;
  border:3px solid black;
  background-image: linear-gradient(0deg, rgb(9, 122, 43), rgb(96, 228, 177));
  margin-left: 25%;
  grid-template-areas: 
  ". s s s s ."
  ". s s s s ."
  ". . . . . ."
  ". r . a b ."
  ". . . . . ."
  ". . . . . .";
}
.screen{
  display: grid;
  grid-template-areas:
  "h h h h h"
  ". . . . ."
  "i . . q .";
  grid-template-rows: min-content 1fr min-content;
  border:3px solid black;
  height: 17rem;
  width: 26rem;
  background-image:url("desert.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-left: 1.9rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  grid-area: s
}
.displayInfo{
  grid-area: h;
  text-align: center;   
}
#cowboy{
  display: grid;
  height: 100px;
  width: 100px;
  grid-area: i
}
#cowboy img{
  height: 16.25%
}
#samurai{
  height: 100px;
  width: 101px;
  grid-area: q
}
#samurai img{
  height: 100%;
}
#myBtn{
  grid-area: a;
}
#myBtn2{
  grid-area: b;
}
.resetButton{
  grid-area: r;
}
.pill-button{
  background-color: rgb(199, 182, 177);
  border-radius: 8px/70%;
  box-shadow: 2px 2px 2px black, inset 2px 1px 2px darkgray, -1px -1px 2px black;
  color: white;
  font-family: "Gill Sans", sans-serif;
  font-size: 12px;
  height: 30px;
  width: 70px;
  position: absolute;
  bottom: 92px;
}
.ab-button {
background-color: rgb(199, 182, 177);
border-radius: 50%;
box-shadow: 2px 2px 2px black, inset 2px 2px 2px darkgray, -1px -1px 2px black;
font-family: "Gill Sans", sans-serif;
color: white;
height: 60px;
width: 60px;
}
#testp{
  font-family: 'VT323', monospace;
}
#thescore{
  font-family: 'VT323', monospace;
}