canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
.ab-button {
  background-color: rgb(78,70,68);
  border-radius: 50%;
  box-shadow: 2px 2px 2px black, inset 2px 2px 2px darkgray, -1px -1px 2px black;
  font-family: "Gill Sans", sans-serif;
  color: rgb(55,40,47);
  text-shadow: 1px 1px 1px rgb(89,79,77);
  height: 50px;
  width: 50px;
  position: sticky;
}

.a {
  right: 450px;
  top: 600px;
color:black;
}
.b{
    right: 550px;
    top: 600px;
    color: black;
}

.displayInfo{
    display: flex;
    justify-content: center;
    text-align: center;   
}

